<div class="container">
	<div class="sixteen columns">

	<h3><strong>Food Item Details: <%= @food.name %></strong></h3>
	<br>
	<table>
		<tr><th>Name</th><th>Cuisine</th><th>Price</th><th>Allergens</th></tr>
			<tr><td><a href="/foods/<%= @food.id %>"><%= @food.name %></a></td><td><%= @food.cuisine %></td><td><%= @food.price %></td><td><%= @food.allergens %></td>
			<td><form action="/foods/<%= @food.id %>/edit" method="get">
				<input type="submit" value="Edit" id="button_small"></input>
			</form></td>
			<td><form action="/foods/<%= @food.id %>" method="post">
				<input type="hidden" name="_method" value="delete"/></input>
				<input type="submit" value="Delete" id="button_small"></input>
			</form></td>
			</tr>
	</table>
	<br>
	<br>
	<h3><strong>Current Parties with this Food Item</strong></h2>
	<br>
	<table>
		<tr><th>Parties</th></tr>
		<tr>
			<% @food.orders.each do |order| %>
				<td><a href="/parties/<%= @parties.find(order.party_id).id %>"><%= @parties.find(order.party_id).name %></a></td>
			<% end %>
		</tr>
	</table> 
</div>
</div>
