<div class="container">
	<div class="sixteen columns">

	<h3><strong>Parties</strong></h3>
	<p>There are currently <strong><%= @parties.count %></strong> parties dining:</p>
	<table>
		<tr><th>Name</th><th>Table #</th><th>Guests</th><th>Paid?</th></tr>
		<% @parties.each do |party| %>
			<tr>
			<tr><td><a href="/parties/<%= party.id %>"><%= party.name %></a></td><td><a href="/parties/<%= party.id %>/edit"><%= party.table_num %></a></td><td><a href="/parties/<%= party.id %>/edit"><%= party.num_guests %></a></td><td><a href="/parties/<%= party.id %>/edit"><%= party.paid %></a></td>
				<td><%= get_button_small("/parties/#{party.id}/edit", "Edit") %></td>
				<td><%= delete_button("/parties/#{party.id}") %></td>
				</tr>
		<% end %>
	</table>
	<br>
	<%= get_button_regular("/parties/new", "Add New") %>
</div>
</div>