<div class="container">
	<div class="sixteen columns">

	<h3><strong><%= @party.name %></strong></h3>
	<br>

	<table>
		<tr><th>Name</th><th>Table #</th><th>Guests</th><th>Paid</th><th>Edit</th><th>Delete</th><th>Mark as Paid</th><th>Receipt</th></tr>
			<tr><td><%= @party.name %></td><td><a href="/parties/<%= @party.id %>/edit"><%= @party.table_num %></a></td><td><a href="/parties/<%= @party.id %>/edit"><%= @party.num_guests %></a></td><td><a href="/parties/<%= @party.id %>/edit"><%= @party.paid %></a></td>
			<td><%= get_button_small("/parties/#{@party.id}/edit", "Edit") %></td>
			<td><%= delete_button("/parties/#{@party.id}") %></td>
			<td><%= patch_button("/parties/#{@party.id}/checkout", "Mark as Paid") %></td>
			<td><%= get_button_small("/parties/#{@party.id}/receipt", "Get Receipt") %></td>
			</tr>
	</table>
	<br>
	<br>
	</div>

	<div class="eight columns">
	<h4><strong>Current Orders</strong></h4>
	<br>
	<% total = 0 %>
<table>
<tr><th>Food</th><th>Cost</th><th>No Charge</th><th>Remove Charge</th></tr>
	<% @party.orders.each do |order| %>
		<tr>
			<td><a href="/foods/<%= @foods.find(order.food_id).id %>/edit"><%= @foods.find(order.food_id).name %></a></td>
			<td><a href="/foods/<%= @foods.find(order.food_id).id %>/edit">$<%= @foods.find(order.food_id).price %></a></td>
			<td><%= order.no_charge %></td>
			<% total += @foods.find(order.food_id).price if order.no_charge != true %>
			<td><%= patch_button("/orders/#{order.id}/party_page", "No Charge") %></td>
		</tr>
	<% end %>

	</tr>
</table> 
<br>
	</div>

	<div class="eight columns">
	<h4><strong>New Order?</strong></h4>
	<br>
	<form action="/orders" method="post">
		<% @foods.each do |food| %>
			<input type="radio" name="order[food_id]" value="<%= food.id %>"><%= food.name %><br>
		<% end %>
			<input type="hidden" name="order[party_id]" value="<%= @party.id %>"></input>
			<br>
			<input type="submit" value="Add Food Item"></input>
	</form>
	<% if @error_already_paid %>
		<div class="errors">
      	<h4><%= @error_already_paid %></h4>
		</div>
	<% end %>	
	</div>
	
</div>
