

<div class="container">
	<div class="sixteen columns">

	<h3><strong>Orders</strong></h3>
	<p>There are currently <strong><%= @orders.count %></strong> orders:</p>
	
	<table>
		<tr><th>ID</th><th>Food</th><th>Party</th><th>No Charge</th><th>Remove Charge</th><th>Delete</th></tr>
		<% @orders.each do |order| %>
			<tr>
			<tr><td><%= order.id %></td><td><a href="/foods/<%= @foods.find(order.food_id).id %>"><%= @foods.find(order.food_id).name %></a></td><td><a href="/parties/<%= @parties.find(order.party_id).id %>"><%= @parties.find(order.party_id).name %></a></td><td><%= order.no_charge %></td>
		<td><%= patch_button("/orders/#{order.id}/orders_page", "No Charge") %></td>
		<td><%= delete_button("/orders/#{order.id}") %></td>
		</tr>
	</form>
		<% end %>
	</table>
	<br>
</div>
</div>